include LICENSE
include Makefile.in
include README.md
include bin/test
include configure
include configure.ac
include *.py
include regex2dfa/*.py
include src/*.cc
include src/*.h
include tests/*.regex
include tests/*.dfa
recursive-include third_party *
